.task-form {
    background-color: #f2f3f8; /* Dark green background */
    padding: 20px;
    border-radius: 5px;
    color: #fff; /* White text color */
  }
  
  .task-form .form-group {
    margin-bottom: 15px;
  }
  
  .task-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .task-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5; /* Light background color for input */
    color: #333; /* Dark text color for input */
  }
  
  .task-form .form-control:focus {
    border-color: #0a1053; /* Dark green border on focus */
    box-shadow: 0 0 5px #0a1053; /* Dark green shadow on focus */
  }
  
  .task-form .btn-primary {
    background-color: #0a1053; /* Dark green button */
    border-color: #0a1053;
    color: #fff;
  }
  
  .task-form .btn-primary:hover {
    background-color: #0a1053; /* Darker green on hover */
    border-color: #0a1053;
  }
  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
  .form-check-sign {
    margin-left: 8px;
  }
  